/* Write your code here. */
.bgDetails {
  background-image: linear-gradient(#9796f0, #fbc7d4);
  min-height: 100vh;
  height: 100%;
}
.Main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  height: 100%;
}
.emoji-Container {
  list-style: none;
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ScoreCard-Det {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff33;
  border: 2px solid #ffffff30;
  color: #ffffff;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .ScoreCard-Det {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 85%;
  }
}
